@model DPL.WEB.Models.BranchRespons
@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/MpoLayout.cshtml";
}



<div class="card-header" style="background:  #194771; color: white;">
    <div class="row">
        <div class="col-md-8">
            <h3 style="color: gold;">Sales Order List</h3>
        </div>
        @*<div class="col-md-3" style="position: relative;">
                <div class="btnAllRow">
                    <button title="New Order"
                            style="margin: 2px;"
                            class="btn btn-success"
                            data-toggle="modal" id="myBtn" data-target=".bd-example-modal-lg">
                        <i class="fa fa-plus-circle" aria-="true"></i>&nbsp;New Order
                    </button>
                </div>
            </div>*@

        <div class="col-6">
            <h5 hidden class="modal-title  text-right" style="margin: 0 auto;" id="lblledgerName">@ViewBag.MName</h5>

        </div>
        <div class="col-6">
            <h5 class="modal-title  text-right" style="margin: 0 auto;" id="lblledgerNameMarzeName">@ViewBag.MNameMerz</h5>

        </div>
    </div>
</div>
<div class="card-header" style="background: #0094ff; color: white;">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">

                <div class="btnAllRow">
                    <button title="New Order"
                            style="margin: 2px;"
                            class="btn btn-success"
                            data-toggle="modal" id="myBtn" data-target=".bd-example-modal-lg">
                        <i class="fa fa-plus-circle" aria-="true"></i>&nbsp;New Order
                    </button>
                </div>
                <div class="btnSearch">
                    <button title="New Order"
                            style="margin: 2px;"
                            class="btn btn-success">
                        <i class="fa fa-search" aria-="true"></i>&nbsp;Search
                    </button>
                </div>
                <div class="btnRefresh">
                    <button title="Refresh"
                            style="margin: 2px;"
                            class="btn btn-success"
                            onclick="clikRefresh();">
                        <i class="fa fa-refresh" aria-="true"></i>&nbsp;Refresh
                    </button>
                </div>

                <div class="btnZhApprovedList">
                    <button title="Commission Cal."
                            style="margin: 2px;"
                            class="btn btn-success"
                            onclick="ZhApprove();">
                        <i class="fa fa-calculator" aria-="true"></i>&nbsp;Zh Approved List
                    </button>
                </div>
                <div class="btnAllRow">
                    <button title="Commission Cal."
                            style="margin: 2px;"
                            class="btn btn-success"
                            onclick="commtionCal();">
                        <i class="fa fa-calculator" aria-="true"></i>&nbsp;Commission Cal.
                    </button>
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-2">
                    <div class="row">
                        <input type="radio" id="idneworder" checked style="height:20px;  width:35px; margin-top:5px" class="checkmarkl" name="rbtnname" value="NewInvoice" onclick="rbtnidNeworder();" />
                        <label style="font-size:20px;"> New Order</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        @*<input type="radio" id="idZhApprove" style="height:20px; width:35px;"  name=" rbtnname" value="ZhApprove" onclick="rbtnidZhApprove();" />*@
                        <input type="radio" id="idZhApprove" style="height: 20px; width: 35px; margin-top: 5px" class="checkmarkl" name="rbtnname" value="ZhApprove" onclick="rbtnidZhApprove();" />
                        <label style="font-size:20px;">ZH Approve</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <input type="radio" id="idReturnOrder" style="height: 20px; width: 35px; margin-top: 5px" class="checkmarkl" name="rbtnname" value="ReturnOrder" onclick="rbtnidReturnOrder();" />
                        <label style="font-size:20px;">Return Order</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <input type="radio" id="idBillDone" style="height: 20px; width: 35px; margin-top: 5px" class="checkmarkl" name="rbtnname" value="BillDone" onclick="rbtnidbilldone()" />
                        <label style="font-size: 20px;"> Bill Done </label>
                    </div>
                </div>
                @*<div class="col-sm-2" style="font-size:19px;">
                        <input type="radio" id="idZhApprove" style="height:35px; width:35px;" name="rbtnname" value="ZhApprove" onclick="rbtnidZhApprove();" /> ZH Approve <br />
                    </div>
                    <div class="col-sm-3" style="font-size:19px;">
                        <input type="radio" id="idReturnOrder" style="height:35px; width:35px;" name="rbtnname" value="ReturnOrder" onclick="rbtnidReturnOrder();" /> Return Order <br />
                    </div>
                    <div class="col-sm-2" style="font-size:19px;">
                        <input type="radio" id="idBillDone" style="height:35px; width:35px;" name="rbtnname" value="BillDone" onclick="rbtnidbilldone()" /> Bill Done <br />
                    </div>*@

            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myLargeModalLabel exampleModalCenterTitle" aria-="true" id="itemModal">


    <div class="modal-dialog modal-xl bd-example-modal-lg ">
        <div class="modal-content">
            <div class="modal-header " style="background:  #194771; color: white;">

                <div class="col-5" hidden>
                    <h5 class="modal-title  text-left" style="margin: 0 auto;" id="exampleModalLabel">@ViewBag.MName</h5>

                </div>
                <div class="col-6">
                    <h5 class="modal-title  text-right" style="margin: 0 auto;" id="exampleModalLabel">@ViewBag.MNameMerz</h5>

                </div>


                <div class="col-1">

                    <button type="button"
                            class="close"
                            style=" color: white;"
                            data-dismiss="modal"
                            aria-label="Close"
                            (click)="bsModalRef.hide()">
                        <span>&times;</span>
                    </button>
                </div>

            </div>

            <div class="modal-body crudForm">
                <div class="persoanlInfoArea">
                    <div class="row">

                        <div class="col-md-12">
                            @*<div class="row">
                                    <div class="col-sm-4" style="margin: 5px;">
                                        <p style="text-align: right; font-size:15px;">Branch Name</p>
                                    </div>
                                    <div class="col-sm-7 " style="margin: 5px;">
                                        <select id="responsid2" class="form-control">
                                            <option value="">--Select One--</option>
                                            @foreach (var item in ViewBag.BranchName)
                                            {
                                                <option value="@item.strBranch">@item.strBranch</option>
                                            }
                                        </select>

                                    </div>

                                </div>*@

                            <div class="row" hidden>
                                <div class="col-sm-4" style="margin: 5px; ">
                                    <p style="text-align: right; font-size: 15px;">Branch Name</p>
                                </div>
                                <div class="col-sm-7 " style="margin: 5px;">
                                    <input readonly type="text" class="form-control" id="ID_Branch" value="@ViewBag.BranchName" placeholder="Branch Name" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4" style="margin: 5px; ">
                                    <p style="text-align: right; font-size: 15px;">Order Number:</p>
                                </div>
                                <div class="col-sm-4 " style="margin: 5px;">
                                    <input type="text" readonly class="form-control" id="ID_OrderNumber" value="@ViewBag.RefNo" placeholder="Order Number" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4" style="margin: 5px; ">
                                    <p style="text-align: right; font-size: 15px;">Order Date:</p>
                                </div>


                                <div class="col-sm-4 " style="margin: 5px;">
                                    <input readonly type="text" class="form-control" id="OrDate" name="issueDate" value="">

                                </div>
                            </div>








                            @*<div class="row">
                                <div class="col-sm-4" style="margin: 5px;">
                                    <p style="text-align: right; font-size: 15px;">MPO Name</p>
                                </div>
                                <div class="col-sm-7 " style="margin: 5px;">
                                    <select id="responsid3" class="form-control">
                                        @*<option value="">--Select One--</option>*@
                            @*@foreach (var item in ViewBag.BranchName)
                                {*@
                            @* <option value="@item.strLedgerName">@item.strLedgerName</option>*@
                            @*}*@
                            @*</select>*@



                            @*</div>*@

                            @*</div>*@

                            <div class="row">
                                <div class="col-sm-4" style="margin: 5px;">
                                    <p style="text-align: right; font-size: 15px;">MPO Name</p>
                                </div>
                                <div class="col-sm-5 " style="margin: 5px;">
                                    <select id="responsid3" class="form-control"></select>



                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-4" style="margin: 5px; ">
                                    <p style="text-align: right; font-size: 15px;">Customer:</p>
                                </div>
                                <div class="col-sm-5 " style="margin: 5px;">
                                    <select id="idcustomer" class="form-control">
                                        @*<option value="">--Select One--</option>*@
                                        @*@foreach (var item in ViewBag.reslist)
                                            {
                                            <option value="@item.strLocation">@item.strLocation</option>
                                            }*@
                                    </select>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-sm-4" style="margin: 5px; ">
                                    <p style="text-align: right; font-size: 15px;">Location Name:</p>
                                </div>
                                <div class="col-sm-4 " style="margin: 5px;">
                                    <select id="ddllocationid" class="form-control">
                                        <option value="">--Select One--</option>
                                        @*@foreach (var item in ViewBag.reslist)
                                            {
                                            <option value="@item.strLocation">@item.strLocation</option>
                                            }*@
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>




                </div>


                <div class="modal-body crudForm">
                    <div class="persoanlInfoArea">
                        <form class="form-horizontal form-signin"
                              (ngsubmit)="f.form.valid && onSaveOrUpdate(f)"
                              #f="ngForm"
                              novalidate
                              action="index.html">

                            <div class="row">
                                <div class="col-sm-3 form-group">
                                    @* <label class="control-label">Group Name</label>*@
                                    <p style="text-align: left; font-size: 15px;">Group Name</p>
                                    <div>
                                        <select id="ddlStockGrouplist" onchange="changeFunc()" class="form-control">
                                            <option value="">--Select One--</option>
                                            @*@foreach (var item in ViewBag.reslist)
                                                {
                                                    <option value="@item.strLocation">@item.strLocation</option>
                                                }*@
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <p style="text-align: left; font-size: 15px;">Item Name</p>
                                    <div>
                                        <select id="ddlStockItemlist" class="form-control">
                                            <option value="">--Select One--</option>
                                            @*@foreach (var item in ViewBag.reslist)
                                                {
                                                <option value="@item.strLocation">@item.strLocation</option>
                                                }*@
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-5">
                                    <p style="text-align: left; font-size: 15px;">Qty</p>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input type="number"
                                                   class="form-control intRate"
                                                   name="intQty"
                                                   onchange=""
                                                   @*onchange="calculateRate()"*@
                                                   id="intQty" />
                                        </div>
                                        <div class="col-md-7">
                                            <span><input type="button" class="btn btn-primary" id="btnAddItem" onclick="addOrEditItem();" value="Add"></input></span>
                                            <input type="button" class="btn btn-warning" id="btnClearlocation" onclick="cleardatda();" value="Clear"></input></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style=" float: right;">


                                    @*<button type="submit" class="btn btn-dark"><i class="fa fa-plus"></i> Add to List</button>*@

                                </div>
                            </div>


                        </form>

                        <div class="table-responsive">
                            <table id="itemDatatable" class="table-bordered" style="width:100%"></table>
                        </div>


                    </div>
                </div>


                <div class="row">

                    <div class="col-sm-8 ">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div>
                                        <h6>Total Item:</h6>
                                    </div>
                                    <div>
                                        <h5 id="Totalitem" style="text-align: left; font-size: medium"></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div>
                                        <h6>Item Qty:</h6>
                                    </div>
                                    <div>
                                        <h5 id="qtyTotal" style="text-align: left; font-size: medium"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-2" style="margin:0px; ">
                                <h5 style="text-align: left; font-size:12px;">Narration :</h5>
                            </div>
                            <div class="col-lg-9 " style="margin: 0px;">
                                <input type="text" class="form-control" id="strNaration" placeholder="Narration" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="row">
                                    <div>
                                        <h6 style="text-align: left">Total Amount:</h6>
                                    </div>
                                    <div>
                                        <h5 style="text-align: right; font-size: medium" id="txtTotalAmount"></h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <h6 style="text-align: left">Commition Amount:</h6>
                            </div>
                            <div>
                                <h5 style="text-align: right; font-size: medium" id="txtCommAmount"></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <h6 style="text-align: left">Net Amount:</h6>
                            </div>
                            <div>
                                <h5 style="text-align: right; font-size: medium" id="txtnetAmount"></h5>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    @*<button type="submit" class="btn btn-outline-success " onclick="saveOrUpdates()">Submit</button>*@
                    <span><input type="button" class="btn btn-primary" id="btnsaveOrder" onclick="saveOrUpdates();" value="Save"></input></span>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="clearFromData();" (click)="bsModalRef.hide()">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="table-responsive">
    <table id="datatable4" class="table-bordered" style="width:100%"></table>
</div>




<script>

    $('#btnView').click(function () {

        var x = document.getElementById("bloodgId").value;
        //alert(x)
        window.open(

    "/RptSO/RptNewOrder?Rname=" + radioValue + " &division=" + $('#ID_Division').val() + "&strDepartmentCard=" + $('#ID').val() + "&strFromdate=" + $('#datepicker1').val() + "&strToDate=" + $('#datepicker2').val() + "&intBloodGroup=" + x,
    '_blank' // <- This is what makes it open in a new window.
    );
        //url: "/LeaveApplication/TourleaveSave?eid=" + empid + "&leaveid=" + lid + "&destination=" + Destinat + "&purpose=" + Purposee,
    });











    jQuery.ajaxSettings.traditional = true;
    var rbtnStatus = 4;
    var strUserName = "MISK";
    var selectlocationItem = "";
    var selectStockGroup = "";
    var selectLocation = "";

    var strLocatioandd = "";

    let gItemList2 = [];



    var intTotalQtyttt = 0;
    var dblTotalAmt = 0;

    var gItemList = [];

    var type = 0;
    var strOrderNo = "";
    var strMpoName = "";
    var strBrandId = "";
    var strBrandName = "";
    var strCustomerName = "";
    var strLocation = "";
    var strOrderDate = "";
    var todaydate = new Date();

    var lngSlNo;
    var strItemGroup = "";
    var strSubGroup_Name = "";
    var strItemName = "";
    var strPowerClasstGet = "";
    var strPackSizeGet = "";
    var intItemQty = 0;
    var dblItemRatesGet = 0;
    var strPerGet = "";
    var dblCommissionGet = 0;
    var intBonusQtyGet = 0;
    var dblTotalAmount = 0;
    var intTotalQty = 0;


    var intItemQty = 0;
    var qtyTotal = 0;
    var addItemList = [];
    var addItemList2 = [];
    var qtyTotal = 0;
    var dblTotalCommition = 0;
    var dblNetAmount = 0;
    var strUnitGet = "";
    var strSubGroup_NameGet = "";
    var rowCount = 0;

    var detailsList = [];
    var selectdata = "";

    var title = "Add Stock Item";


    var totalcount =0;
    var totalAmount =0;
    var totalcommision =0;
    var totalnetamount =0;

    function changeFunc() {

        var selectStockGroup = document.getElementById("ddlStockGrouplist").value;
        console.log("Group name is:");
        var selectLocation = document.getElementById("ddllocationid").value;
        //alert(selectLocation)

        var ddlStockItemlist = $("#ddlStockItemlist");
        ddlStockItemlist.html('');
        $.ajax({
            url: '@Url.Action("gFillStockItemNew")',
            datatype: "json",
            data: {
                strDeComID: "",
                vstrRoot: selectStockGroup,
                vstrGodown: selectLocation
            },
            success: function (data) {
                ddlStockItemlist.append($('<option value=--Select One-->--Select One--</option>'));
                $.each(data, function (id, option) {
                    ddlStockItemlist.append($('<option value="' + option.strItemName + '">' + option.strItemName + '</option>'));
                    //ddlResponsid3.append($('<option></option>').val(option.strLedgerName).html(option.strLedgerName));
                });

            }
        })
    }


    $(document).ready(function () {

        @*$("#ddlStockGrouplist").on("change", function () {
            //selectStockGroup = $(this).val();
            //selectLocation = $("#ddllocationid").val();
            var selectStockGroup = document.getElementById("ddlStockGrouplist").value;
            console.log("Group name is:");
            var selectLocation = document.getElementById("ddllocationid").value;
            //alert(selectLocation)
            alert("ok");
      var ddlStockItemlist = $("#ddlStockItemlist");
            $.ajax({
                url: '@Url.Action("gFillStockItemNew")',
                datatype: "json",
                data: {
                    strDeComID: "",
                    vstrRoot: selectStockGroup,
                    vstrGodown: selectLocation
                },
                success: function (data) {
                    ddlStockItemlist.html('');
                    ddlStockItemlist.append($('<option value=--Select One-->--Select One--</option>'));
                    $.each(data, function (id, option) {
                        ddlStockItemlist.append($('<option value="' + option.strItemName + '">' + option.strItemName + '</option>'));
                        //ddlResponsid3.append($('<option></option>').val(option.strLedgerName).html(option.strLedgerName));
                    });

                }
            })

            });*@
        //rtbtnStatus();

        //document.getElementById("idneworder").checked = true;
        //document.getElementById("checkmarkl").checked;
        document.getElementById("Totalitem").innerHTML = 0;
        document.getElementById("qtyTotal").innerHTML = 0;
        document.getElementById("txtTotalAmount").innerHTML = 0;
        document.getElementById("txtCommAmount").innerHTML = 0;
        document.getElementById("txtnetAmount").innerHTML = 0;
        //document.getElementById("Totalitem").innerHTML = "Total Item : " + 0;
        $("#responsid2").select2({ "width": '100%' });
        $("#responsid2").focus();
        $("#responsid3").select2({ "width": '100%' });
        //$("#responsid3").focus();

        //function myFunction() {
        //document.getElementById('OrDate').value = formatDate(Date, 'mm/dd/yy');


       //  var _dt = new Date();

       //  console.log(new Date(_dt).toLocaleString().split(',')[0]);

       ////var datev=  (new Date(date).toLocaleString().split(',')[0]);
       // //document.getElementById('OrDate').value = new Date(date).toLocaleString('en-US').split(',')[0];
       //  console.log([_dt.getDate(), _dt.getMonth(), _dt.getFullYear()]);
       //  document.getElementById('OrDate').value = [_dt.getDate(), _dt.getMonth()+1, _dt.getFullYear()].join('/')


        orderdate();


        $("#idcustomer").select2({ "width": '100%' });
        $("#ddllocationid").select2({ "width": '100%' });
        $("#ddlStockGrouplist").select2({ "width": '100%' });
        $("#ddlStockItemlist").select2({ "width": '100%' });






        //showItemview();

       function  MPOLoad () {
            selectBranch = $(this).val();
            //alert("branch 123")
            //alert(selectBranch)
            var ddlResponsid3 = $("#responsid3");
            $.ajax({
                url: '@Url.Action("mGetMPO")',
                datatype: "json",
                data: {
                    responseId: selectBranch
                },
                success: function (data) {
                   // alert("1");
                    ddlResponsid3.html('');
                    ddlResponsid3.append($('<option value=--Select One-->--Select One--</option>'));
                    $.each(data, function (id, option) {


                        ddlResponsid3.append($('<option value="' + option.strTC + '">' + option.strLedgerName + '</option>'));
                        //ddlResponsid3.append($('<option></option>').val(option.strLedgerName).html(option.strLedgerName));

                    });
                    //alert($('#strTC').val());
                    $('#responsid3').val(selectdata.strTC);
                    //alert("selectd", $('#responsid3').val(selectdata.strTC))
                    //$('#responsid3').val(this.aktar);
                    $('#responsid3').trigger('change');
                }
            });


       };








        //mloadItem();
        //mloadCustomer();
        //mloadLocation();
        //mloadItemGroup();
        showGrid();
    });



    function mloadItemGroup() {
        var ddlStockGrouplist = $("#ddlStockGrouplist");
        $.ajax({
            url: '@Url.Action("mFillStockGroup")',
            datatype: "json",
            data: {
                strDeComID: "",
                strPrefix: "",
                vstrUserName: ""
            },
            success: function (data) {
                ddlStockGrouplist.html('');
                ddlStockGrouplist.append($('<option value=--Select One-->--Select One--</option>'));
                $.each(data, function (id, option) {
                    ddlStockGrouplist.append($('<option value="' + option.strItemGroup + '">' + option.strItemGroup + '</option>'));
                    //ddlResponsid3.append($('<option></option>').val(option.strLedgerName).html(option.strLedgerName));
                });

            }
        })
    }
    function mloadLocation()
    {
        var selectBranch = document.getElementById("ID_Branch").value;
        var ddllocationid3 = $("#ddllocationid");
        $.ajax({
            url: '@Url.Action("mGetLocation")',
            datatype: "json",
            data: {
                strBranchName: selectBranch
            },
            success: function (data) {
                ddllocationid3.html('');
                ddllocationid3.append($('<option value=--Select One-->--Select One--</option>'));
                $.each(data, function (id, option) {
                    ddllocationid3.append($('<option value="' + option.strLocation + '">' + option.strLocation + '</option>'));
                    //ddlResponsid3.append($('<option></option>').val(option.strLedgerName).html(option.strLedgerName));
                });
                $('#ddllocationid').val(selectdata.strLocation);
                //$('#responsid3').val(this.aktar);
                //$('#ddllocationid').trigger('change');
            }
        })
    }



    function mloadCustomer() {
        //selectMpo = $(this).val();


        var selectMpo = document.getElementById("ID_Mpo").value;
        var ddlDoctorlist = $("#idcustomer");
        $.ajax({
            url: '@Url.Action("mGetCustomer")',
            datatype: "json",
            data: {
                strLedgerName: selectMpo
            },
            success: function (data) {

                ddlDoctorlist.html('');
                ddlDoctorlist.append($('<option value=--Select One-->--Select One--</option>'));
                $.each(data, function (id, option) {

                    ddlDoctorlist.append($('<option value="' + option.strDoctorName + '">' + option.strCustomerName + '</option>'));
                    //console.log('rbtnidNeworder',  option.strDoctorName );
                });
                //alert("2")
                //$('#idcustomer').val($('#strDoctorName').val());
                $('#idcustomer').val(selectdata.strDoctorName);
                $('#idcustomer').trigger('change');

            }
        })

    };

    function commtionCal() {


            swal({
                title: "Do You Want to Commission Calculation ?",
                text: "",
                icon: "warning",
                buttons: [
                    'No',
                    'Yes'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {

                    //alert("Alll")


                    $.ajax({
                        type: "POST",
                        url: "/SalesOrder/mUpdateSalesOrderOnlineComm",
                        data: JSON.stringify(finalList),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            //alert(r + " record(s) inserted.");
                        }
                    });

                } else {
                    //alert("Cancel...")
                }
            });





    }



    function rbtnidNeworder() {

        rtbtnStatus();
        console.log('rbtnidNeworder', rbtnStatus);
        showGrid();
    }
    function rbtnidZhApprove() {
        rtbtnStatus();
        showGrid();
    }
    function rbtnidReturnOrder() {
        rtbtnStatus();
        console.log('rbtnidNeworder', rbtnStatus);
        showGrid();
    }
    function rbtnidbilldone() {
        rtbtnStatus();
        showGrid2();
    }
    function rtbtnStatus() {
        var radioValue = $("input[name='rbtnname']:checked").val();




        if (radioValue == "NewInvoice") {

            rbtnStatus = 4;

        }
        else if (radioValue == "ZhApprove") {
            rbtnStatus = 3;
        }
        else if (radioValue == "ReturnOrder") {
            rbtnStatus = 2;
        }
        else if (radioValue == "BillDone") {
            rbtnStatus = 1;
        }
        else {
            rbtnStatus = 0;
        }
    }

    function clikRefresh() {
        rbtnStatus = 5;
        showGrid2();


    }
    function ZhApprove()
    {
        $('#idneworder').prop('checked', false);
        $('#idZhApprove').prop('checked', false);
        $('#idReturnOrder').prop('checked', false);
        $('#idBillDone').prop('checked', false);
        rbtnStatus = 5;
        showGrid2();

     }

    function showGrid() {
        strUserName=   document.getElementById('lblledgerName').textContent

        alert(strUserName);

        $('#datatable4').DataTable({
            "bDestroy": true,
            "select": true,

            "ajax": {
                "url": "/SalesOrder/mShowMasterDataArea?strUserName=" + strUserName + " &intStatusCol=" + rbtnStatus,
                "type": "POST",
                "datatype": "json",


                "dataSrc": function (response) {
                    response.draw = response.draw;
                    response.recordsTotal = response.recordsTotal;
                    response.recordsFiltered = response.recordsFiltered;
                    console.log('request.responseText', response);



                    return response;
                }

            },


            //var tableee = $('#datatable4').DataTable( {
            //    "scrollY": "200px",
            //    "paging": false
            //} );

            //select: {
            //    style: 'multi',
            //    selector: 'td:first-child'
            //},

            "order": [[1, 'asc']],
            "columns": [
                  {
                      title: 'SL',
                      render: function (
                          data,
                          type,
                          row,
                          meta
                      ) {
                          return '<span>' + (meta.row + 1) + '</span>';
                      },
                  },
                //{
                //    return type == 'export' ? meta.row + 1 : data
                //},

                    {

                        title: 'ID',
                        data: 'lngSlNo',
                        name: 'lngSlNo',
                        "visible": false,

                    },
                       {
                           title: 'Location',
                           data: 'strLocation',
                           name: 'strLocation',
                           "visible": false,
                       },
                        {
                            title: 'Voucher No',
                            data: 'strVoucherNo',
                            name: 'strVoucherNo',
                            "visible": false,
                        },
                    {
                        title: 'Voucher No',
                        data: 'strVoucherNoMerz',
                        name: 'strVoucherNoMerz',
                        //"visible": false,
                    },
                       {
                           title: 'Doctor Name',
                           data: 'strDoctorName',
                           name: 'strDoctorName',
                           "visible": false,
                       },
                    {
                        title: 'Date',
                        data: 'strTranDate',
                        name: 'strTranDate',
                    },
                    {
                        title: 'Ledger Name',
                        data: 'strMerzeName',
                        name: 'strMerzeName',
                    },

                    {
                        title: 'Branch Name',
                        data: 'strBranchName',
                        name: 'strBranchName',
                        "visible": false,
                    },
                    {
                        title: 'Division Name',
                        data: 'strDivisionName',
                        name: 'strDivisionName',
                    },
                    {
                        title: 'Area Name',
                        data: 'strArea',
                        name: 'strArea',
                    },
                    {
                        title: 'Amount',
                        data: 'dblAmount',
                        name: 'dblAmount',
                    },

                       {
                           title: 'Credit Limit',
                           data: 'dblCreditAmount',
                           name: 'dblCreditAmount',


                       },

                   {
                       title: 'check',
                       data: 'fcheck',

                       //className: 'select-checkbox sales-sloat-select',
                       render: function (data, type) {
                           data.trigger;



                           return '<input type="checkbox" value= ' + data + ' class="select-checkbox sales-sloat-select" />';

                       }

                   },





                              {
                                  render: function (data, type, row) {
                                      return '<button class="btn btn-info fontsize  sales-sloat-ak">   <i class="fa fa-pencil"></i></button>' + "&nbsp" + '<button class="btn btn-danger fontsize  delete-sloat-ak"> <i class="fa fa-trash"></i></button>';
                                  }
                              },
                                 {
                                     render: function (data, type, row) {
                                         return '<button class="btn btn-info fontsize  print-sloat-ak">   <i class="fa fa-print"></i></button>';
                                     }
                                 },
            ],

            "responsive": true,
            "rowCallback": function (row, data) {





                console.log('hello delete dataddddddddd', row, data);
                var rowdata = data;
                if (rbtnStatus == 4) {
                    if (rowdata.dblNetAmount < rowdata.dblCreditAmount) {
                        console.log('hello check data 6000+', rowdata.dblCreditAmount);
                        $(row).css({ "background-color": "#47F90A" })
                    }
                    else {
                        $(row).css({ "background-color": "#FCFCFC" })
                    }
                }
                if (rbtnStatus == 3) {
                    if (rowdata.dblNetAmount < rowdata.dblCreditAmount) {
                        console.log('hello check data 6000+', rowdata.dblCreditAmount);
                        $(row).css({ "background-color": "#47F90A" })
                    }
                    else {
                        $(row).css({ "background-color": "#FCFCFC" })
                    }
                }
                if (rbtnStatus == 2) {
                    if (rowdata.dblNetAmount < rowdata.dblCreditAmount) {
                        console.log('hello check data 6000+', rowdata.dblCreditAmount);
                        $(row).css({ "background-color": "#47F90A" })
                    }
                    else {
                        $(row).css({ "background-color": "#FCFCFC" })
                    }
                }
                if (rbtnStatus == 1) {
                    if (rowdata.dblNetAmount < rowdata.dblCreditAmount) {
                        console.log('hello check data 6000+', rowdata.dblCreditAmount);
                        $(row).css({ "background-color": "#47F90A" })
                    }
                    else {
                        $(row).css({ "background-color": "#FCFCFC" })
                    }
                }
                $(row).find(".sales-sloat-select").click(function () {
                    selectdata = data;

                    if (data.fcheck == 0) {
                        data.fcheck = 1;
                        addtoList(selectdata);
                    } else {
                        data.fcheck = 0;
                        delettoList(selectdata);
                    }
                    console.log('hello edit dddeeeee', data.fcheck);


                });


                $(row).find(".sales-sloat-ak").click(function () {
                    selectdata = data;
                    console.log('hello edit dddeeeee', selectdata);
                    edit(selectdata);
                    //that.salesss(data);
                    //that.rerender();
                });
                $(row).find(".print-sloat-ak").click(function () {
                    selectdata = data;
                    orderprint(selectdata.strVoucherNoMerz, selectdata.strMerzeName)
                    //that.salesss(data);
                    //that.rerender();
                });

            }

        });
    }


    function showGrid2() {


       $('#datatable4').DataTable({
            "bDestroy": true,
            "select": true,

            "ajax": {
                "url": "/SalesOrder/mShowMasterData?strUserName=" + strUserName + " &intStatusCol=" + rbtnStatus,
                "type": "POST",
                "datatype": "json",


                "dataSrc": function (response) {
                    response.draw = response.draw;
                    response.recordsTotal = response.recordsTotal;
                    response.recordsFiltered = response.recordsFiltered;
                    console.log('request.responseText', response);



                    return response;
                }

            },


            //var tableee = $('#datatable4').DataTable( {
            //    "scrollY": "200px",
            //    "paging": false
            //} );

            //select: {
            //    style: 'multi',
            //    selector: 'td:first-child'
            //},

            "order": [[1, 'asc']],
            "columns": [
                  {
                      title: 'SL',
                      render: function (
                          data,
                          type,
                          row,
                          meta
                      ) {
                          return '<span>' + (meta.row + 1) + '</span>';
                      },
                  },
                //{
                //    return type == 'export' ? meta.row + 1 : data
                //},

                    {

                        title: 'ID',
                        data: 'lngSlNo',
                        name: 'lngSlNo',
                        "visible": false,

                    },
                       {
                           title: 'Location',
                           data: 'strLocation',
                           name: 'strLocation',
                           "visible": false,
                       },
                        {
                            title: 'Voucher No',
                            data: 'strVoucherNo',
                            name: 'strVoucherNo',
                        },
                    {
                        title: 'Voucher No',
                        data: 'strVoucherNoMerz',
                        name: 'strVoucherNoMerz',
                        //"visible": false,
                    },
                       {
                           title: 'Doctor Name',
                           data: 'strDoctorName',
                           name: 'strDoctorName',
                           //"visible": false,
                       },
                    {
                        title: 'Date',
                        data: 'strTranDate',
                        name: 'strTranDate',
                    },
                    {
                        title: 'Ledger Name',
                        data: 'strMerzeName',
                        name: 'strMerzeName',
                    },

                    {
                        title: 'Branch Name',
                        data: 'strBranchName',
                        name: 'strBranchName',
                    },
                    {
                        title: 'Division Name',
                        data: 'strDivisionName',
                        name: 'strDivisionName',
                    },
                    {
                        title: 'Area Name',
                        data: 'strArea',
                        name: 'strArea',
                    },
                    {
                        title: 'Amount',
                        data: 'dblAmount',
                        name: 'dblAmount',
                    },


                       {
                           title: 'Credit Limit',
                           data: 'dblCreditAmount',
                           name: 'dblCreditAmount',

                           "visible": false,
                       },


                   {
                       title: 'check',
                       data: 'fcheck',

                       //className: 'select-checkbox sales-sloat-select',
                       render: function (data, type) {
                           data.trigger;

                           return '<input type="checkbox" value= ' + data + ' class="select-checkbox sales-sloat-select" />';

                       }

                   },


                    {
                        render: function (data, type, row) {
                            return '<button class="btn btn-info fontsize  sales-sloat-ak">   <i class="fa fa-pencil"></i></button>' + "&nbsp" + '<button class="btn btn-danger fontsize  delete-sloat-ak"> <i class="fa fa-trash"></i></button>';
                        }
                    },

            ],

            "responsive": true,
            "rowCallback": function (row, data) {





                console.log('hello delete dataddddddddd', row, data);
                var rowdata = data;
                //if (rbtnStatus == 4) {
                //    if (rowdata.dblNetAmount < rowdata.dblCreditAmount) {
                //        console.log('hello check data 6000+', rowdata.dblCreditAmount);
                //        $(row).css({ "background-color": "#47F90A" })
                //    }
                //    else {
                //        $(row).css({ "background-color": "#FCFCFC" })
                //    }
                //}
                //if (rbtnStatus == 3) {
                //    if (rowdata.dblNetAmount < rowdata.dblCreditAmount) {
                //        console.log('hello check data 6000+', rowdata.dblCreditAmount);
                //        $(row).css({ "background-color": "#47F90A" })
                //    }
                //    else {
                //        $(row).css({ "background-color": "#FCFCFC" })
                //    }
                //}
                //if (rbtnStatus == 2) {
                //    if (rowdata.dblNetAmount < rowdata.dblCreditAmount) {
                //        console.log('hello check data 6000+', rowdata.dblCreditAmount);
                //        $(row).css({ "background-color": "#47F90A" })
                //    }
                //    else {
                //        $(row).css({ "background-color": "#FCFCFC" })
                //    }
                //}
                //if (rbtnStatus == 1) {
                //    if (rowdata.dblNetAmount < rowdata.dblCreditAmount) {
                //        console.log('hello check data 6000+', rowdata.dblCreditAmount);
                //        $(row).css({ "background-color": "#47F90A" })
                //    }
                //    else {
                //        $(row).css({ "background-color": "#FCFCFC" })
                //    }
                //}
                //$(row).find(".sales-sloat-select").click(function () {
                //    selectdata = data;

                //    if (data.fcheck == 0) {
                //        data.fcheck = 1;
                //        addtoList(selectdata);
                //    } else {
                //        data.fcheck = 0;
                //        delettoList(selectdata);
                //    }
                //    console.log('hello edit dddeeeee', data.fcheck);


                //});


                $(row).find(".sales-sloat-ak").click(function () {
                    selectdata = data;
                    console.log('hello edit dddeeeee', selectdata);
                    edit(selectdata);
                    //that.salesss(data);
                    //that.rerender();
                });
                $(row).find(".delete-sloat-ak").click(function () {
                    selectdata = data;
                    deleteItemsById(selectdata.lngSlNo)
                    //that.salesss(data);
                    //that.rerender();
                });

            }

        });
    }


    var selectList = [];

    function orderprint(strVNo, strMerzeNamee) {
        console.log('voucher No', strVNo)
        console.log('voucher led', strMerzeNamee)
        //var x = document.getElementById("bloodgId").value;
        //alert(x)

        window.open(

    "/RptSO/RptNewOrder?strVoucherNO=" + encodeURIComponent(strVNo) + " &vstrLedgerName=" + strMerzeNamee,
    '_blank' // <- This is what makes it open in a new window.
    );


    }


    function addtoList(selectdata) {
        selectList.push(selectdata);


        makefinalList(selectList);

    }

    function delettoList(selectData) {

        console.log('befor delete', selectList);

        for (var i = 0; i < selectList.length; i++) {
            var dd = selectList[i].lngSlNo.toString();
            var ds = selectdata.lngSlNo.toString();
            if (dd == ds) {

                selectList.splice(i, selectData);
                console.log('after delete', selectList.length);
            }
        }

        makefinalList(selectList);

    }

    var finalList = [];

    function makefinalList(flist) {
        console.log('fadd true', flist.length);


         finalList = [];


        for (var i = 0; i < flist.length; i++) {

            var res = false;

            if (flist[i].fcheck == 1) {
                if (finalList.length == 0) {
                    finalList.push(flist[i]);
                    console.log('fadd true', finalList);
                } else {
                    for (var j = 0; j < finalList.length; j++) {
                        console.log('after s add in final list', flist[i].strVoucherNo + ",   " + finalList[j].strVoucherNo);

                        if (flist[i].strVoucherNo != finalList[j].strVoucherNo) {
                            res = true


                        } else {
                            res = false;

                            return;
                        }


                    }
                    if (res==true) {
                        finalList.push(flist[i]);
                        res = false;
                    }

                    console.log('after  s2 add in final list', finalList);
                }

            }


            //console.log('check strue', countt);

        }


    }

    function edit(selectdata) {
        $('#itemModal').modal('show');
        $('#responsid2').val(selectdata.strBranchName);
        $('#responsid2').trigger('change');


        mloadCustomer();




        $('#idcustomer').val(selectdata.strDoctorName);
        //$('#idcustomer').trigger('change');

        mloadLocation();

        $('#ddllocationid').val(selectdata.strLocation);
        $('#OrDate').val(selectdata.strTranDate);
        //alert(selectdata.strTranDate)
        $('#ID_OrderNumber').val(selectdata.strVoucherNo);

        //idcustomer


        //mloadCustomer(selectdata.strVoucherNo)
        mloadOrderDetails(selectdata.strVoucherNo)
        $('#btnsaveOrder').val("Update");
        $('#btnsaveOrder').val("Update");


    }

    //function mloadCustomer(OrderNO) {
    //    //$('#ID_OrderNumber').val(selectdata.strVoucherNo);

    //    var empObj = {
    //        strOrderNo: OrderNO,
    //    };
    //    $.ajax({
    //        url: "/SalesOrder/mloadCusotmer",
    //        data: JSON.stringify(empObj),
    //        type: "POST",
    //        contentType: "application/json;charset=utf-8",
    //        dataType: "json",
    //        success: function (strLocation) {
    //            strLocatioandd = strLocation;
    //            console.log('1');
    //            console.log('1st-', strLocatioandd);
    //            //$('#ddllocationid').val(data);
    //            //$('#ddllocationid').val(selectdata.strDoctorName);
    //            //$('#idcustomer').trigger('change');
    //        }
    //    });
    //}
    function mloadOrderDetails(OrderNO) {
        var empObj = {
            strOrderNo: OrderNO,
        };
        $.ajax({
            url: "/SalesOrder/mloadLocationDetails",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                addItemList =[];
                addItemList= data;
                gItemList = data;
                //console.log('hello edit', addItemList);
                //console.log('hello edit New', data);
                showItemview(data);
            }
        });
    }

    function deleteitem(data) {
        $.each(gItemList, function (key, item) {

            $.each(gItemList[0], function (key1, item1) {

                var a = $('#ddlStockItemlist').val();
                if (item1.strItemName == a) {
                    swal("Adding Failed!", "You Alrady Add This Item.", "warning");
                    return
                } else {
                    itemRate('0003', $('#ddlStockGrouplist').val(), $('#ddlStockItemlist').val(), order_date, $('#intQty').val(), $('#responsid2').val());
                }

            });
        });

    }

    function locationListByItemId(id) {


        $.ajax({
            url: "/Item/locationListByItemId?id=" + id,
            //data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //alert("result ",result)
                gLocationList = result;

                if (gLocationList.length > 0) {

                    showlocationlview();
                    //calculateData();
                }



            }
        });

    }
    function calculateRate() {

        //itemRate = $('#intRate').val();
        //itemQty = $('#intQty').val();
        ////alert(itemQty)
        //itemAmount = itemRate * itemQty;
        ////alert(itemAmount)
        //$("#itemAmount").val(itemAmount);
        //console.log(itemRate, itemQty, itemAmount);

    }
    function deleteItemsById(id) {

        $.ajax({
            url: "/Item/deleteItemById?id=" + id,
            //data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result == "OK") {

                    cleardatda();
                    showGrid();
                };

            }
        });


    }





    function addOrEditItem() {

     //var   btn = $('#btnsaveOrder').val();

        var OrderDate = $('#OrDate').val();
        if (OrderDate == undefined || OrderDate == null || OrderDate == "") {
            swal('Required!!!', 'Required Order Date', 'warning')
            return;
        }
        var order_date = $('#OrDate').val();

        var selectedItem = $('#ddlStockItemlist').val();



        var addStaus = "";



        $.each(addItemList, function (key, itemddd) {
            console.log('new list add item', gItemList);
            //debugger
            var aa = $('#ddlStockItemlist').val();
                //alert(aa);
                //alert(itemddd.strItemName);
                if (itemddd.strItemName == aa) {

                    //alert(a);
                    addStaus = 'True';
                    return
                }


        });

        //for (var i = 0; i < gItemList.length; i++) {

        //    var aa = $('#ddlStockItemlist').val();

        //    if (gItemList.strItemName == aa) {
        //        alert(gItemList.strItemName);
        //        addStaus = 'True';
        //        return
        //    }
        //}


        var obj = {
            "flammable": "inflammable",
            "duh": "no duh"
        };
        $.each(obj, function (key, value) {
            //alert(key + ": " + value);
        });

        if (addStaus=='True')
        {
            swal("Adding Failed!", "You Alrady Add This Item.", "warning");
        }
        else {

            itemRate('0003', $('#ddlStockGrouplist').val(), $('#ddlStockItemlist').val(), order_date, $('#intQty').val(), $('#ID_Branch').val());


        }




    }

    function clearitem() {
        $('#intQty').val("");
        $("#ddlStockItemlist").val('').trigger('change')
        //ddlStockItemlist.html('');
        //$('#ddlStockItemlist').val("");
        //$("#ddlStockItemlist").select2("val", "");
        //document.getElementById("ddlStockItemlist").innerHTML = "";
    }
    function itemRate(strComid, strItemGroup, strItemName, strOrderDate, intQty, strBranchName) {





        $.ajax({
            url: '@Url.Action("gFillStockItemRate")',
            datatype: "json",
            data: {
                strDeComID: strComid,
                strItemGroup: strItemGroup,
                strItemName: strItemName,
                strOrderDate: strOrderDate,
                intQty: intQty,
                strBranchName: strBranchName
            },
            success: function (data) {

                this.strUnitGet = data.strUnit;
                this.strPowerClassGet = data.strPowerClass;
                this.strPackSizeGet = data.strPackSize;
                this.dblItemRatesGet = data.dblBranchRate;
                //this.strUnitGet = data.strUnit;
                this.intBonusQtyGet = data.dblbonusQty;
                this.strSubGroup_NameGet = data.strSubGroup_Name;

                var result = false;



                    addItemList.push({
                        strItemGroup: $('#ddlStockGrouplist').val(),
                        strItemName: $('#ddlStockItemlist').val(),
                        strPowerClass: this.strPowerClassGet,
                        strSubGroup_Name: this.strSubGroup_NameGet,
                        strPackSize: this.strPackSizeGet,
                        intItemQty: $('#intQty').val(),
                        dblItemRate: this.dblItemRatesGet,
                        strUnit: this.strUnitGet,
                        //dblCommission: this.dblcom,
                        intBonusQty: this.intBonusQtyGet,
                        dblTotalAmount: $('#intQty').val() * this.dblItemRatesGet,
                        strCustomer: $('#idcustomer').val(),
                        strDate: $('#OrDate').val()
                    });

                //debugger detailsList


                $.ajax({
                    type: "POST",
                    url: "/SalesOrder/CommossionCalculet",
                    data: JSON.stringify(addItemList),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                           //gItemList = [];
                           gItemList.push(data);


                        showItemview(data);
                    }

                });
                console.log('list', gItemList);
                //commissionCal();
                //showItemview();


            }

        })
         //return type;
    }

    function showItemview(gItemList) {
        //TotalQty(gItemList);


        intItemQty = 0;
        totalAmount = 0;
        totalcommision = 0;
        totalnetamount = 0;

        this.detailsList = gItemList;

        //calculateData(detailsList);
        $('#itemDatatable').DataTable({
            data: gItemList,
            "bDestroy": true,
            "dataSrc": function (response) {
                response.draw = response.draw;
                this.rowCount = response.recordsTotal;
                $('#counttotal').val(this.rowCount);
                response.recordsTotal = response.recordsTotal;
                response.recordsFiltered = response.recordsFiltered;
                console.log('request.responseText', response);
                return response;
            },


            //"scrollX": true,
            "select": true,
            columns: [

                {
                    title: 'SL',
                    render: function (
                        data,
                        type,
                        row,
                       meta
                    ) {
                        return '<span>' + (meta.row + 1) + '</span>';
                    },
                },

                    //{ title: 'Location Name', data: 'strLocation' },dblPercent

                        { title: 'Sub Group', data: 'strSubGroup_Name' , "visible": false,},
                        { title: 'Per', data: 'dblPercent', "visible": false, },
                        { title: 'Group Name', data: 'strItemGroup' },
                        { title: 'Item Name', data: 'strItemName' },

                        { title: 'Powre/Calss', data: 'strPowerClass', "visible": false, },
                        { title: 'Pack Size', data: 'strPackSize', "visible": false, },
                        { title: 'Qty', data: 'intItemQty', className: 'editable' },
                        { title: 'Rate', data: 'dblItemRate', className: 'editable' },
                        { title: 'Per', data: 'strUnit' },
                        { title: 'Total Amount', data: 'dblTotalAmount' },
                        { title: 'Commission', data: 'dblCommitionVal' },
                        { title: 'Bonus Qty', data: 'intBonusQty' },
                        { title: 'Net Amount', data: 'dblItemNetVal', width: 100 },

                         //{
                         //    title: 'Edit',
                         //    render: function (data, type, row) {
                         //        return '<button type="button"   class="btn btn-info fontsize  sales-sloat-ak">Edit</button>';
                         //    }
                         //},
                        {
                            title: 'Delete',
                            render: function (data, type, row) {
                                return '<button type="button"   class="btn btn-danger fontsize  delete-sloat-ak">Delete</button>';
                            }
                        },
            ],

            "responsive": true,
            "rowCallback": function (row, data) {



                intItemQty += data.intItemQty;
                totalAmount =totalAmount + data.dblTotalAmount;
                totalcommision =totalcommision + data.dblCommitionVal;
                totalnetamount = totalnetamount + data.dblItemNetVal;


                document.getElementById("qtyTotal").innerHTML = intItemQty;
                document.getElementById("txtTotalAmount").innerHTML = totalAmount;
                document.getElementById("txtCommAmount").innerHTML = totalcommision;
                document.getElementById("txtnetAmount").innerHTML = totalnetamount;

                $(row)
                 .bind('click')
                 .click(function () {

                     selectlocationItem = data;
                     //console.log('hello delete dataddddddddd', selectlocationItem);
                     //rerender();
                 });
                $(row).find(".sales-sloat-ak").click(function () {
                    selectlocationItem = data;
                    editLocation(selectlocationItem);
                    //that.salesss(data);
                    //that.rerender();
                });
                $(row).find(".delete-sloat-ak").click(function () {
                    selectlocationItem = data;
                    //console.log('hello kkk', selectlocationItem);
                    deleteitem(selectlocationItem.strItemName)

                    //that.salesss(data);
                    //that.rerender();
                });

            }
        });
        clearitem();
    }
    function saveOrUpdates() {
        var btn = $('#btnsaveOrder').val()
        if (btn == "Save") {
            saveData();

        } else {

            //console.log('request.responseText', selectdata);
            UpdateData();
        }

    }
    function saveData() {

        //alert(brandId);

        //alert(brandName);
        jQuery.ajaxSettings.traditional = true;
        //var list = [];
        //list = gItemList;




        console.log('list list', this.detailsList);

        var empObj = {


            strBranchName: $('#responsid2').val(),
            strCustomer: $('#idcustomer').val(),
            strLedgerName: $('#ID_Mpo').val(),
            strOrderNo: $('#ID_OrderNumber').val(),
            strOrderDate: $('#OrDate').val(),
            strLocation: $('#ddllocationid').val(),
            dblTotalAmount: $('#txtTotalAmount').text(),
            dblCommitionVal: $('#txtCommAmount').text(),
            dblNetTotal: $('#txtnetAmount').text(),
            strNaration: $('#strNaration').val(),
            dblNetQty: $('#qtyTotal').text(),
            detailsList: this.detailsList,

        };
        console.log("Order master and details list", empObj);

        $.ajax({
            url: "/SalesOrder/msaveSalesOrder",
            type: "POST",
            data: JSON.stringify(empObj),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                //alert(result);
                if (result != "error") {


                    var idd = result;
                    saveimage(idd);
                    $('#itemModal').modal('hide');
                    clearFromData();
                    showGrid();
                } else {
                    //alert("resutl is ", result);
                };

            }
        });
    }

    function clearFromData() {
        $('#btnAddlocation').text("Add");
        $('#idcustomer').text("");
        $('#responsid3').text("");
        //$('#ID_OrderNumber').text("");
        $('#OrDate').val("");
        //$('#ddllocationid').text("");
        $('#btnsaveOrder').val("Save")
        $('#txtCommAmount').val("");
        $('#strNaration').val("");
        $('#itemDatatable').dataTable().fnClearTable();
        orderdate();

            //document.getElementById("Totalitem").innerHTML = 0;
            //document.getElementById("qtyTotal").innerHTML = 0;
            //document.getElementById("txtTotalAmount").innerHTML = 0;
            //document.getElementById("txtCommAmount").innerHTML = 0;
            //document.getElementById("txtnetAmount").innerHTML = 0;


    }

    function orderdate()
    {


        var _dt = new Date();

        console.log(new Date(_dt).toLocaleString().split(',')[0]);

        //var datev=  (new Date(date).toLocaleString().split(',')[0]);
        //document.getElementById('OrDate').value = new Date(date).toLocaleString('en-US').split(',')[0];
        console.log([_dt.getDate(), _dt.getMonth(), _dt.getFullYear()]);
        document.getElementById('OrDate').value = [_dt.getDate(), _dt.getMonth() + 1, _dt.getFullYear()].join('/')
    }
    function UpdateData() {

        //alert('lskdjfl');
        var list = [];
        //list = gLocationList;
        console.log('list list', list);
        var empObj = {

            lngSlNo: lngSlNo,


            strBranchName: $('#responsid2').val(),
            strCustomer: $('#idcustomer').val(),
            strLedgerName: $('#responsid3').val(),
            strOrderNo: 'SO0001' + $('#ID_OrderNumber').val(),
            strOrderDate: $('#OrDate').val(),
            strLocation: $('#ddllocationid').val(),
            dblTotalAmount: $('#txtTotalAmount').text(),
            dblCommitionVal: $('#txtCommAmount').text(),
            dblNetTotal: $('#txtnetAmount').text(),
            strNaration: $('#strNaration').val(),
            dblNetQty: $('#qtyTotal').text(),
            detailsList: this.detailsList,

        };
        $.ajax({
            url: "/SalesOrder/mUpdateSalesOrder",
            type: "POST",
            data: JSON.stringify(empObj),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                if (result == "Ok") {
                    var idd = result;
                    saveimage(idd);
                    $('#itemModal').modal('hide');
                    //cleardatda();
                    //showGrid();
                } else {
                    cleardatda();
                    //alert("resutl sssssis ", result);
                };
            }
        });


    }

    //function calculateData(gItemList) {
    //    var qtyTotalll = 0;
    //    console.log('data check', gItemList)
    //    if (gItemList.length === 0) {
    //        for (i = 0; i < gItemList.length; i++) {
    //            qtyTotalll += parseInt(gItemList[i].intItemQty);


    //        }
    //        alert(qtyTotalll);
    //        document.getElementById("qtyTotal").innerHTML = qtyTotalll;
    //    }

    //}

</script>




